- name: copy the rabbitmq repo
  ansible.builtin.copy:
    src: rabbitmq.repo
    dest: /etc/yum.repos.d/rabbitmq.repo

- name: Install rabbitmq-server
  ansible.builtin.package:
    name: rabbitmq-server
    state: present

- name: Enable and start rabbitmq-server
  ansible.builtin.service:
    name: rabbitmq-server
    enabled: yes
    state: started

- name: Add roboshop user
  community.rabbitmq.rabbitmq_user:
    user: roboshop
    password: roboshop123
    permissions:
      - vhost: /
        configure_priv: .*
        read_priv: .*
        write_priv: .*
    state: present
  